@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap");
@tailwind base;
.scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #e7e7e7;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #69BEC7;
  width: 4px;
  border-radius: 10px;
}
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: "Vazirmatn", sans-serif;
  }
}

@media screen and (min-width:768px) {

  .scrollbar-nav::-webkit-scrollbar {
background-color: transparent;
}
.scrollbar-nav::-webkit-scrollbar-thumb {
  background-color: transparent;
}}
/* 
@font-face {
    font-family:Vazirmatn;
    src: url('fonts/Vazir/Vazirmatn-Thin.ttf') format('ttf');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: Vazirmatn;
    src: url('fonts/Vazir/Vazirmatn-ExtraLight.ttf') format('ttf');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: Vazirmatn;
    src: url('fonts/Vazir/Vazirmatn-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: Vazirmatn;
    src: url('fonts/Vazir/Vazirmatn-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: Vazirmatn;
    src: url('fonts/Vazir/Vazirmatn-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: Vazirmatn;
    src: url('fonts/Vazir/Vazirmatn-SemiBold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: Vazirmatn;
    src: url('fonts/Vazir/Vazirmatn-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: Vazirmatn;
    src: url('fonts/Vazir/Vazirmatn-ExtraBold.ttf') format('ttf');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: Vazirmatn;
    src: url('fonts/Vazir/Vazirmatn-Black.ttf') format('ttf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
   */
